<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{ path("app_home") }}">
            <img width="100" src="{{ asset("images/logo.png") }}">
        </a>

        <a href="{{ app.user ? path("app_user") : path("app_registration") }}" class="btn custom-btn d-lg-none ms-auto me-4">{{ app.user ? 'Mon enrégistrement' : 'Enrégistrez-vous!' }}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{ path("app_home") }}">Accueil</a>
                </li>

{#                <li class="nav-item">#}
{#                    <a class="nav-link click-scroll" href="#section_2">À propos</a>#}
{#                </li>#}

{#                #}{#                <li class="nav-item">#}
{#                #}{#                    <a class="nav-link click-scroll" href="#section_3">Events</a>#}
{#                #}{#                </li>#}

{#                #}{#                <li class="nav-item">#}
{#                #}{#                    <a class="nav-link click-scroll" href="#section_4">Schedule</a>#}
{#                #}{#                </li>#}

{#                #}{#                <li class="nav-item">#}
{#                #}{#                    <a class="nav-link click-scroll" href="#section_5">Sponsors</a>#}
{#                #}{#                </li>#}

{#                <li class="nav-item">#}
{#                    <a class="nav-link click-scroll" href="#section_6">Contact</a>#}
{#                </li>#}
            </ul>

            <a href="{{ app.user ? path("app_user") : path("app_registration") }}" class="btn custom-btn d-lg-block d-none">{{ app.user ? 'Mon enrégistrement' : 'Enrégistrez-vous!' }}</a>
        </div>
    </div>
</nav>